<%= render 'shared/page_title', title: @recipe.name %>

<div class="well col-md-8 col-md-offset-2">
  <h4 class="center description"><strong>Description and Steps: </strong></h4>
  <hr />
  <!-- By using simple_format it keeps the display of newlines if they were entered on creation -->
  <%= simple_format(@recipe.description) %>
  <hr />
  
  <% if @recipe.ingredients.any? %>
    <p>Ingredients: <%= render @recipe.ingredients %></p>
  <% end %>
  <div class="pull-right">
    <p class="center">
      <em>Created by:</em>
    </p>
    <p class="center">
      <%= link_to gravatar_for(@recipe.chef), chef_path(@recipe.chef) %>
    </p>
    <p class="center">
      <small><%= @recipe.chef.chefname.capitalize %></small>
      <div class="pull-right"><%= time_ago_in_words(@recipe.created_at) %> ago</div>
    </p>
  </div>
  <div class="recipe-actions">
    <% if logged_in? && (current_chef == @recipe.chef || current_chef.admin?) %>
      <%= link_to "Edit Recipe", edit_recipe_path(@recipe), class: "btn btn-warning btn-xs" %>
      <%= link_to "Delete Recipe", recipe_path(@recipe), method: :delete, 
                                      data: { confirm: "Are you sure you want to Delete this Recipe?" }, 
                                      class: "btn btn-danger btn-xs" %>
    <% end %>
    <%= link_to "Return to Recipes List", recipes_path, class: "btn btn-primary btn-xs" %>
  </div>
</div>

<% if logged_in? %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Comments: </h3>
      <hr/>
      <!-- Submit form via AJAX (rather than http) (via remote: true) so that form stays same -->
      <%= form_for([@recipe, @comment], remote: true, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <div class="form-group">
          <div class="col-md-8">
            <%= f.text_area :description, class: "form-control", rows: 8, placeholder: "Enter your comment" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-10">
            <%= f.submit "Submit Comment", class: "btn btn-primary btn-lg btn-red" %>
          </div>
        </div>
      <% end %>
      <hr/>
    </div>
  </div>
<% end %>

<% if @recipe.comments.count > 0 %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Previous Comments:</h3>
      <!-- in javascript/comments.coffee file it is setup to prepend data here based on the comments id -->
      <div id="comments">
        <%= render(partial: 'comments/comments', object: @comments) %>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3 class="comment-heading marg-bottom">No Previous Comments</h3>
      <div id="new-comments"></div>
    </div>
  </div>
<% end %>
